:root{
    --gameBoardwidth: 500px;
}
@media only screen and (max-width: 900px) {
    body {
        --gameBoardwidth: 100vw;
    }
  }
body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: var(--gameBoardwidth);
    display: flex;
    justify-content: space-between;
}
.displayScoreX, .displayScoreY{
    padding: 15px;
    font-size: 2rem;
    display: flex;
}
.scoreX, .scoreY{
    font-size: inherit;
    margin-left: 5px;
}
.gameBoard{
    background-color: beige;
    height: var(--gameBoardwidth);
    width: var(--gameBoardwidth);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.gameBoard:hover{
    cursor: pointer;
}
.gameField{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    transition: 1s ease-in-out;
    font-size: 0px;
}
.filled{
    font-size: calc(var(--gameBoardwidth)/4);
    cursor: default;
}
.modal{
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
}
.modalActive{
    display: flex;
}
.resultMessage{
    position: absolute;
    width: calc(var(--gameBoardwidth));
    height: calc(var(--gameBoardwidth));
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s ease-in-out;
    font-size: 4rem;
    transform: scale(0);
    z-index: 1;
}
.resultMessage.modalActive{
    transform: scale(1);
}
